<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HomeAutomationService ZUCK</title>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" href="stylesheets/responsive.css">
    <link rel="stylesheet" href="stylesheets/mobile.css">
    <link rel="icon" type="image/png" href="images/z.png">
</head>

<body id="top">
<div id="music"><embed name="Aria" src="http://kevinwrede.de/Bach_Aria.mp3" loop="true" hidden="true" autostart="true"></div>
<header>
    <h1 href="#top" onclick="scrollToTop();return false"><img id="logo" src="/images/zuckDick.svg"></h1> 
</header>

<div id="filler">
    
</div>
<!--------- NEWS ------->
<div id="newsSection">
    <input id="toggle" type="checkbox" unchecked>
    <label for="toggle"><img src="images/news.svg">NEWS</label>
    <img id="newsIcon" src="images/news.svg">
    <div id="expand">
        <section id="news">
        </section>
    </div>
</div>
<!--------- SIDE ------->
<aside>
    <div id="obenrechts">
        <div id="time">
            <div><p id="clock"></p></div>
            <div><p id="date"></p></div>
        </div>
        <!-------- WEATHER ------->
        <div id="weather">
            <div id="weatherIconAndInfo">
                <img id="weatherIcon" class="svg" src="images/weather.svg">
                <div id="CelsiusAndLoc">
                    <p id="currentWeather"></p>
                    <p id="location"></p>
                </div>
            </div>
            <!--------- INDOOR -------->
            <div id="indoorcontainer">
                <img id="houseIcon" class="svg" src="images/chiphouse.svg">
                <table id="indoortemphumid">
                    <tr>
                        <th id="temp">Raumtemperatur: <%= temperature1 %> °C</th>
                    </tr>
                    <tr>
                        <th id="humid">Luftfeuchtigkeit: <%= humidity1 %> %</th>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <!--------- SENSOR --------->
    <div id="sensor">
        <input id="toggle2" type="checkbox" unchecked>
        <label for="toggle2"><img src="images/chip.svg">SENSOR</label>

        <div id="expand2">
            <%if (soilSensors[0].id == 0 && soilSensors.length > 1){%>
            <%soilSensors.shift()%>
            <%}%>
            <%for (var i = 0; i < soilSensors.length; i++) { %>
            
            <!---------- PLANTS -------->
            <div class="plants">
                <%if(soilSensors[i].healthyStatus == "false"){ %>
                <img style="display:none" id="plantIcon" class="svg"  src="images/plant.svg">
                <img style="display:inline" id="plantIcon" class="svg"  src="images/plantDry.svg">
                <%}else{%>
                <img style="display:inline" id="plantIcon" class="svg"  src="images/plant.svg">
                <img style="display:none" id="plantIcon" class="svg"  src="images/plantDry.svg">
                <%}%>
                <span class="sensorName">Pflanze <%=i + 1%></span>
                <div class="plantHumid">
                    <img id="humid1" class="svg" src="images/humidity.svg">
                    <span><%=soilSensors[0].humidity%></span>
                </div>
            </div>
            <%}%>
            
            <!--------- WINDOW ---------->
            <div class="windows">
                <%if (windowSensors[0].id == 0 && windowSensors.length > 1){%>
                    <%windowSensors.shift()%>
                <%}%>
                <%for (var i = 0; i < windowSensors.length; i++) { %>

                <%if(windowSensors[i].status == 'Zu'){ %>
                    <img style="display:inline" id="windowIcon" class="svg" src="images/windowClosed.svg">
                    <img style="display:none" id="windowIcon" class="svg" src="images/window.svg">
                <%}else{%>
                    <img style="display:none" id="windowIcon" class="svg" src="images/windowClosed.svg">
                    <img style="display:inline" id="windowIcon" class="svg" src="images/window.svg">
                <%}%>
                <span class="sensorName">Fenster <%=i + 1%></span><br>
                <span class="sensorStatus"><%= windowSensors[i].status %></span>
                <%}%>
            </div>
            
            <!---------- MAILBOX -------->
            <div class="windows">
                <%if (mailboxSensors[0].id == 0 && mailboxSensors.length > 1){%>
                    <%mailboxSensors.shift()%>
                <%}%>
                <%if (mailboxSensors[0].status == "Voll") {%>
                    <img style="display:none" id="windowIcon" class="svg" src="images/mailboxEmpty.svg">
                    <img style="display:inline" id="windowIcon" class="svg" src="images/mailboxFull.svg">
                <%}else{%>
                    <img style="display:inline" id="windowIcon" class="svg" src="images/mailboxEmpty.svg">
                    <img style="display:none" id="windowIcon" class="svg" src="images/mailboxFull.svg">

                <%}%>
                    <span class="sensorName">Briefkasten</span><br>
                    <span class="sensorStatus"><%=mailboxSensors[0].status%></span>
            </div>
        </div>
    </div>
</aside>

<section class="inner-wrapper">

    <!--------- MEDIA ------->
    <section id="media">
        <input id="toggleMedia" type="checkbox" unchecked>
        <label for="toggleMedia"><img src="images/playbutton.svg">MEDIA</label>
        <h2>Media</h2>
        <div id="expandMedia">
           <div id="device">
                <div id="stereo">
                    <div tabIndex="1" onclick="changeIcon('stereoIcon1')">
                        <%if(funkStatus == "true"){ %>
                        <img style="display:none" id="stereoIcon1" class="svg" src="images/coffee.svg">
                        <img style="display:inline" id="stereoIcon2" class="svg" src="images/coffeeOn.svg">
                        <%}else{%>
                        <img style="display:inline" id="stereoIcon1" class="svg" src="images/coffee.svg">
                        <img style="display:none" id="stereoIcon2" class="svg" src="images/coffeeOn.svg">
                        <%}%>
                        <span>Kaffee</span>
                    </div>
                </div>
                <div id="tv">
                    <div tabIndex="2" onclick="changeIcon('tvIcon1')">
                        <%if(tvStatus == "true"){ %>
                        <img style="display:none;" id="tvIcon1" class="svg" src="images/tv.svg">
                        <img style="display:inline;" id="tvIcon2" class="svg" src="images/tvOn.svg">
                        <%}else{%>
                        <img style="display:inline;" id="tvIcon1" class="svg" src="images/tv.svg">
                        <img style="display:none;" id="tvIcon2" class="svg" src="images/tvOn.svg">
                        <%}%>
                        <span>TV</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--------- LIGHT ------->
    <section class="light">
        <input id="toggleLight" type="checkbox" unchecked>
        <label for="toggleLight"><img src="images/lamp.svg">LIGHT</label>
        <h2>Licht</h2>
        <div id="expandLight">
            <section class="bulb" id="bulb">
                <%if(lights[0].ip != 0){%>
                <% for(var i = 0; i < lights.length; i++) { %>
                <%var lightIp = lights[i].ip%>
                <div class="light1">
                    <a tabindex="3" href="/lights/<%-lights[i].ip%>" onclick="changeIcon('<%=lightIp%>')">
                        <%if(lights[i].toggleStatus == 'on'){ %>
                            <img style="display:none;" class="svg bulbIcon" name="bulbIcon" src="images/lightbulb_new.svg" id="<%=lightIp%>1">
                            <img style="display:inline;" class="svg bulbIcon" name="bulbIcon" src="images/lightbulbOn.svg" id="<%=lightIp%>2">
                        <%  }else{%>
                            <img style="display:inline;" class="svg bulbIcon" name="bulbIcon" src="images/lightbulb_new.svg" id="<%=lightIp%>1">
                            <img style="display:none;" class="svg bulbIcon" name="bulbIcon" src="images/lightbulbOn.svg" id="<%=lightIp%>2">
                        <%}%>
                        <p style="margin-top: 10px"><%=lights[i].label %></p>
                    </a>

                    
                </div>
                <a tabindex="-1" class="lightColor" href="/">
                    <img src="images/red.svg">
                </a>
                <a tabindex="-1" class="lightColor" href="/">
                    <img src="images/green.svg">
                </a>
                <a tabindex="-1" class="lightColor" href="/">
                    <img src="images/blue.svg">
                </a>
                <% } %>
                <% } %>
            </section>
            <!--
            <section class="bulb">

                <div class="light1">
                    <a href="/LichtRed">
                        <div id="bla">
                            <img id="bulb1" class="svg bulbIcon" name="bulbIcon" src="images/lightbulb_new.svg">
                        </div>
                        <p>Flur Unten</p>
                    </a>
                </div>
                <div class="light1">
                    <a href="/LichtBlue">
                        <img id="bulb1" class="svg bulbIcon"
                             name="bulbIcon"src="images/lightbulb_new.svg">
                        <p>Flur Oben</p>
                    </a>
                </div>


                <div class="light1">
                    <a href="/LichtGreen">
                        <img id="bulb1" class="svg bulbIcon" src="images/lightbulb_new.svg">
                        <p>Garage</p>
                    </a>
                </div>


            </section>
-->
        </div>
    </section>
</section>
    
    
<!--------- NEWS SCRIPT ------->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var url = 'https://newsapi.org/v1/articles?source=die-zeit&sortBy=latest&apiKey=a1ef913e98c94358994dc8a8f7347aff&lang=de';
        $.getJSON(url).then(function (res) {
            var artNo = 0;
            document.getElementById("news").innerHTML =
                "<a tabindex='-1' href=\""
                +  (res['articles'][artNo].url)
                + "\"><h3>"
                + (res['articles'][artNo].title)
                + "</h3><br><p>"
                + (res['articles'][artNo].description)
                + "</p></a><br><a tabIndex=\"-1\" href=\""
                + (res['articles'][artNo + 1].url)
                + "\"><h3>"
                + (res['articles'][artNo + 1].title)
                + "</h3><br><p>"
                + (res['articles'][artNo + 1].description)
                + "</p></a><br><a tabIndex=\"-1\" href=\""
                + (res['articles'][artNo + 2].url)
                + "\"><h3>"
                + (res['articles'][artNo + 2].title)
                + "</h3><br><p>"
                + (res['articles'][artNo + 2].description)
                + "</p></a>";
            setInterval(function () {
                if (artNo <= 6) artNo += 3;
                else artNo = 0;
                document.getElementById("news").innerHTML =
                    "<a tabIndex=\"-1\" href=\""
                    +  (res['articles'][artNo].url)
                    + "\"><h3>"
                    + (res['articles'][artNo].title)
                    + "</h3><br><p>"
                    + (res['articles'][artNo].description)
                    + "</p></a><br><br><a tabIndex=\"-1\" href=\""
                    + (res['articles'][artNo + 1].url)
                    + "\"><h3>"
                    + (res['articles'][artNo + 1].title)
                    + "</h3><br><p>"
                    + (res['articles'][artNo + 1].description)
                    + "</p></a><br><br><a tabIndex=\"-1\" href=\""
                    + (res['articles'][artNo + 2].url)
                    + "\"><h3>"
                    + (res['articles'][artNo + 2].title)
                    + "</h3><br><p>"
                    + (res['articles'][artNo + 2].description)
                    + "</p></a>";
            }, 30000);
        })
    })
</script>
<!--------- WEATHER SCRIPT ------->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var api = "http://api.openweathermap.org/data/2.5/weather?q=Berlin&units=metric&lang=de&APPID=bf0a224a7b36d53836dd5e19f4b986a8";
        $.getJSON(api, function (data) {
            document.getElementById("currentWeather").innerHTML = data.main.temp + "°C, " + data.weather[0].description;
            document.getElementById("location").innerHTML = data.name + ", " + data.sys.country;
        });
    })
</script>
<!--------- TIME SCRIPT ------->
<!--<script src="javascript/zuckJS.js"></script>-->
<!--------- TIME SCRIPT ------->
<!--<script src="javascript/zuckJS.js"></script>-->
<script type="text/javascript">

    var weekdays = new Array("Sonntag", "Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag");
    var months = new Array("Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember");

    function updateTimeAndDate() {
        var currDate = new Date();
        var weekday = weekdays[currDate.getDay()];
        var day = currDate.getDate();
        var month = months[currDate.getMonth()];
        var year = currDate.getFullYear();
        document.getElementById("date").innerHTML = weekday + ", " + day + ". " + month + " " + year;
        var hr = currDate.getHours();
        var min = currDate.getMinutes();
        if (min < 10) {
            min = "0" + min;
        }
        document.getElementById("clock").innerHTML = hr + ":" + min;
    }
    setInterval(updateTimeAndDate, 10000);
    updateTimeAndDate();
    setInterval(updateTimeAndDate, 10000);

</script>

<!--------- REFRESH ICONS SCRIPT ------->
<script>


    function refreshImgStyle(reqLink, imgOff, imgOn, serverStatus){
        makeReq(location.href + reqLink);
        console.log("thisVar: " + serverStatus);


        var SvgOff = document.getElementById(imgOff);
        var SvgOn = document.getElementById(imgOn);
        console.log("imgOFF: " + imgOff);
        console.log("imgON: " + imgOn);

        if(serverStatus == 'false' || serverStatus == 'off'){
            SvgOn.style.display = 'none';
            SvgOff.style.display = 'inline';
            console.log("is offff");
        }else if (serverStatus == 'true' || serverStatus == 'on'){
            SvgOn.style.display = 'inline';
            SvgOff.style.display = 'none';
            console.log("is ooooon");
        }
    }
    setInterval(refreshImages, 10000);

    function refreshImages() {

        makeReq(location.href + 'sensor/temphumid/temp');
        makeReq(location.href);

        /*
        var funkStatus = <%- JSON.stringify(funkStatus) %>;
        refreshImgStyle('sensor/funk/stat', 'stereoIcon1', 'stereoIcon2', funkStatus);

        var tvStatus = <%- JSON.stringify(tvStatus) %>;
        refreshImgStyle('sensor/infrarot/stat', 'tvIcon1', 'tvIcon2', tvStatus);

        var tempra = <%- JSON.stringify(temperature1) %>;
        console.log("Tempratur: " + tempra);

        var lights = <%- JSON.stringify(lights) %>;
        for(var i = 0; i < lights.length; i++){
            refreshImgStyle('', lights[i].ip + 1, lights[i].ip + 2, lights[i].toggleStatus);
        }


        if(lights[0].ip == 0){
            $("#expandLight").load(location.href +" #expandLight>*", "");
        }
         */
        $("#indoortemphumid").load(location.href +" #indoortemphumid>*", "");
        /*
        setTimeout(function () {

            //var lightsVar = <%- JSON.stringify(lights) %>;
            //var needsRefresh = false;

            //var bulbIcons = document.getElementsByClassName("bulbIcon");
            //console.log(bulbIcons);
            $("#expandLight").load(location.href +" #expandLight>*", "");
            $("#indoortemphumid").load(location.href +" #indoortemphumid>*", "");
            $("#sensor").load(location.href +" #sensor>*", "");
            $("#media").load(location.href +" #media>*", "");
            convertImgToSvg();
            /*
            for(var i = 0; i < bulbIcons.length; i++){
                var currentIp = bulbIcons[i].getAttribute("id");
                console.log(currentIp);
                console.log(location.href + " #" + currentIp + ">*");
                $("#" + currentIp).load(location.href +" #" + currentIp + ">*", "");
            }

        }, 5000);
*/

    }
</script>
<!--------- CHANGE ICONS ------->
<script>

    function changeIcon(id){
        if(id == 'tvIcon1'){
            makeReq("http://192.168.0.107/TVONOFF");

        }else if(id == 'stereoIcon1'){
            makeReq("http://192.168.0.107/socketONOFF");

        }else{
            //makeReq(location.href + "lights/" + id);
            id = id + "1";
        }
        setTimeout(function(){
            //console.log(id);
            var img = document.getElementById(id);
            //console.log(img);
            var div = img.parentNode;
            //console.log(div);
            var images = div.getElementsByTagName("svg");
            //console.log(images);
            if(images[0].style.display == 'none' ){
                images[0].style.display = 'inline';
                images[1].style.display = 'none';
            }else if(images[0].style.display != 'none'){
                images[0].style.display = 'none';
                images[1].style.display = 'inline';
            }
            console.log("changeIcon");
            window.stop();
        },500);
        window.stop();
    }

 /*
        makeReq(url);
        makeReq(location.href);
        makeReq(location.href + "sensor/infrarot/status");
        $("#tv").load(location.href +" #tv>*", "");
        */


        /*var imgUrl = '';
        var oldImg = document.getElementById(currentIp);
        var imgParent = oldImg.parentNode;
        var pathCount = oldImg.getElementsByTagName('path').length;
        var currentId = oldImg.getAttribute("id");
        if(pathCount == 4){
            console.log(pathCount);
            imgUrl = 'images/lightbulb_new.svg';
        }else if(pathCount == 1){
            console.log(pathCount);
            imgUrl = 'images/lightbulbOn.svg';
            console.log("yo2");
        }
        imgParent.removeChild(oldImg);
        var newImg = new Image();
        newImg.src = imgUrl;
        newImg.class="svg bulbIcon";
        newImg.name="bulbIcon";
        newImg.id = currentId;
        imgParent.appendChild(newImg);
        console.log(newImg.id);
        console.log(newImg.name);
        var $img = jQuery(newImg);
        var imgID = $img.attr('id');
        var imgClass = $img.attr('class');
        var imgURL = $img.attr('src');
        jQuery.get(imgURL, function(data) {
            // Get the SVG tag, ignore the rest
            var $svg = jQuery(data).find('svg');
            // Add replaced image's ID to the new SVG
            if(typeof imgID !== 'undefined') {
                $svg = $svg.attr('id', imgID);
            }
            // Add replaced image's classes to the new SVG
            if(typeof imgClass !== 'undefined') {
                $svg = $svg.attr('class', imgClass+' replaced-svg');
            }
            // Remove any invalid XML tags as per http://validator.w3.org
            $svg = $svg.removeAttr('xmlns:a');
            // Replace image with new SVG
            $img.replaceWith($svg);
        });
        //$("#bulb").load(location.href + " #bulb>*", "");
        */

</script>
<script>
    function makeReq(url){
        $.get(url);
        console.log("made Req on: " + url);
    }
</script>

<script>
    var timeOut;
    function scrollToTop() {
        if (document.body.scrollTop!=0 || document.documentElement.scrollTop!=0){
            window.scrollBy(0,-50);
            timeOut=setTimeout('scrollToTop()',10);
            document.addEventListener("touchstart", function(){}, true);

        }
        else clearTimeout(timeOut);
    }
</script>
<!--------- TABABBLE ------->
<script src="javascript/jquery.tabbable.min.js"></script>
<script>
    $(document).ready(function(){
        $(document).keydown(handleDocumentKeyDown);
    });
    function handleDocumentKeyDown(event){

        if(event) {
            if (event.which === 83) { //s
                $.tabNext();

            } else if (event.which === 87) { //w
                $.tabPrev();
            } else if (event.which === 13) { //enter
                var selectedElement = document.activeElement.parentNode;
                selectedElement.click();
            }
        }
    }
</script>

<script>
    jQuery(document).ready(convertImgToSvg);

    function convertImgToSvg() {
        /*
         * Replace all SVG images with inline SVG
         */
        console.log("converting");
        jQuery('img.svg').each(function () {
            var $img = jQuery(this);
            var imgID = $img.attr('id');
            var imgClass = $img.attr('class');
            var imgURL = $img.attr('src');
            var imgStyle = $img.attr('style');

            jQuery.get(imgURL, function (data) {
                // Get the SVG tag, ignore the rest
                var $svg = jQuery(data).find('svg');

                // Add replaced image's ID to the new SVG
                if (typeof imgID !== 'undefined') {
                    $svg = $svg.attr('id', imgID);
                }
                // Add replaced image's classes to the new SVG
                if (typeof imgClass !== 'undefined') {
                    $svg = $svg.attr('class', imgClass + ' replaced-svg');
                }

                // Remove any invalid XML tags as per http://validator.w3.org
                $svg = $svg.removeAttr('xmlns:a');

                $svg = $svg.attr('style', imgStyle);
                // Replace image with new SVG
                $img.replaceWith($svg);
            });

        })
    }
</script>
<!--<script>
    setTimeout(handleDocumentKeyDown, 5000);
    setTimeout(scrollToTop, 5000);
    setTimeout(updateTimeAndDate, 5000);
</script>
-->
</body>
</html>
