<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HomeAutomationService ZUCK</title>
        <link rel="stylesheet" href="stylesheets/reset.css">
        <link rel="stylesheet" href="stylesheets/stylesheet.css">
    </head>

    <body>
        <header>
           <!-- <h1></h1>-->
        </header>
<!-- NEWS -->
        <section class="news">
            <img id="feed" src="images/mail.png">
        </section>
        
<!-- SIDE -->
        <aside>
            <section id="time">
                <p id="clock"></p>
                <p id="date"></p>
            </section>
            <section id="weather"> 
                <span id="temp">Temperatur: <%= temperature1 %> <p>C</p></span>
                <span id="humid">Feuchtigkeit: <%= humidity1 %> <p>%</p> </span>
                <img id="weatherIcon" src="images/weather.svg">
                <span id="weatherDescr"> Leicht bewökt</span>
                <span id="weatherTemp">29°</span>

                <br>
                <span id="location">Berlin, Germany</span>
                
            </section>
            
            <div id="sensor">
           <div class="plants">
                <img id="plantIcon" src="images/plant.svg">
                
                <span class="sensorName">Pflanze 1</span>
                <div class="plantTemp">
                    <img src="images/temperature.svg">
                    <!--<span> <%= temperature1 %> </span>-->
                    <span>22°</span>
                </div>
                <div class="plantHumid">
                    <img src="images/humidity.svg">
                    <!--<span> <%= humidity1 %> </span>-->
                    <span>15%</span>
                </div>
            </div>
            
            <div class="plants">
                <img id="plantIcon" src="images/plant.svg">
                
                <span class="sensorName">Pflanze 2</span>
                <div class="plantTemp">
                    <img src="images/temperature.svg">
                    <!--<span> <%= temperature1 %> </span>-->
                    <span>26°</span>
                </div>
                <div class="plantHumid">
                    <img src="images/humidity.svg">
                    <!--<span> <%= humidity1 %> </span>-->
                    <span>19%</span>
                </div>
            </div> 
            
            <div class="windows">
                <img id="windowIcon" src="images/window.svg">
                <span class="sensorName">Fenster 1</span><br>
                <span class="sensorStatus">Offen</span>
                <!--<span>Fenster AUF: <%= windowStatus %></span>-->
            </div>
                 <div class="windows">
                <img id="windowIcon" src="images/window.svg">
                <span class="sensorName">Fenster 1</span><br>
                <span class="sensorStatus">Offen</span>
                <!--<span>Fenster AUF: <%= windowStatus %></span>-->
            </div>
            </div>
        </aside>

        <section class="inner-wrapper">
<!-- MEDIA -->
        <section id="media">
            <h2>Media</h2>
            <section id="device">
                <div id="stereo">                    
                    <img id="stereoIcon" src="images/stereo.svg">
                    <span>Stereo</span>
                </div>
                <div id="tv">                    
                    <img id="tvIcon" src="images/tv.svg">
                    <span>TV Wohnzimmer</span>
                </div>
            </section>
        </section>
        
<!-- LIGHTS -->
        <section class="light">
            <h2>Licht</h2>
            <section id="bulb">
                <div class="light1">
                    <a href="lichtOn">
                    <img id="bulbIcon" src="images/lightbulb_new.svg">
                    <p>Wohnzimmer</p>
                    </a>
                </div>
                <div class="light1">
                    <img src="images/lightbulb_new.svg">
                    <p>Schlafzimmer</p>
                </div>
                <div class="light1">
                    <img src="images/lightbulb_new.svg">
                    <p>Badezimmer</p>
                </div>
                <div class="light1">
                    <img src="images/lightbulb_new.svg">
                    <p>Flur Unten</p>
                </div>
                <div class="light1">
                    <img src="images/lightbulb_new.svg">
                    <p>Flur Oben</p>
                </div>
                <div class="light1">
                    <img src="images/lightbulb_new.svg">
                    <p>Garage</p>
                </div>
            </section>
        </section>
        </section>        
        <script type="text/javascript">
            /*setTimeout(function(){
               window.location.reload(1);
            }, 5000);     */


            var licht = document.getElementsByClassName("light1");
            licht[0].onclick = function (){
                console.log("ES WERDE LICHT!")
            };

            function updateTimeAndDate() {
                var weekdays = new Array("Sonntag", "Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag");
                var months = new Array("Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember");   
                var currDate = new Date();
                var weekday = weekdays[currDate.getDay()];
                var day = currDate.getDate();
                var month = months[currDate.getMonth()];
                var year = currDate.getFullYear();            
                document.getElementById("date").innerHTML = weekday + "," + "</br>"+ day + ". " + month + " " + year; 
                var hr = currDate.getHours();
                var min = currDate.getMinutes();
                if (min < 10) {
                    min = "0" + min;
                } 
                document.getElementById("clock").innerHTML = hr + ":" + min;    
                setTimeout(updateTimeAndDate, 10000);
            }
            updateTimeAndDate();
        </script>             
    </body>
</html>
